<div class="content">
  <p id="notice"><%= notice %></p>

  <h1>すべてのタイムライン</h1>
  <% @blogs.each do |blog| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= blog.title %></div>
      <div class="panel-body">
        <h2><a href="<%= blog_path(blog) %>"><%= blog.content %></a></h2>
        <p><a href="<%= user_path(current_user.id) %>"><%= blog.user.name %> | <%= blog.created_at.strftime('%Y/%m/%d') %></p>
        <% if user_signed_in? %>
          <% if blog.user_id == current_user.id %>
            <p><%= link_to '削除', blog_path(blog), method: 'delete', class: 'btn btn-danger' %></p>
          <% else %>
          <% end %>
        <% else %>
        <% end%>
      </div>
    </div>
  <% end %>

  <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary btn-lg" %>
</div>