<div class=content>
  <p id="notice"><%= notice %></p>
    <div class="panel panel-default">
      <div class="panel-heading"><%= @blog.title %></div>
        <div class="panel-body">
          <p><%= @blog.content %></p>
          <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary dropdown-toggle' %>
        </div>
      </div>
    <%= link_to 'Back', blogs_path, class: 'btn btn-default' %>
</div>