<div class="content">
  <h1>お問い合わせフォーム</h1>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@contact) do |f| %>
  <div class="explanation">
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title %></p>
    <p><%= f.label :content %></p>
    <p><%= f.text_area :content %></p>
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email %></p>
    <%= f.submit %>
  <% end %>
  <%= link_to 'Back', root_path %>
  </div>
</div>
