<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="boxA">
  <div class="box1">
    <div class="site">
      <h1><a href="#">Dive into Code by 李 明鎬</a></h1>
    </div>
  </div>
  <div class="box2">
    <nav class="menu">
      <ul>
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "お問い合わせ", contacts_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to current_user.email, user_path(current_user.id) %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
     </nav>
  </div>
</div>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
